/* root */
:root {
  --colorBorder: #e6e6e6;
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGray: #666;
  --colorDarkBlack: #101010;
  --colorRed: #e5006b;
  --colorBlue: #4876ef;
  --colorLogo: #ea617b;
  --colorHover: #f8faff;
  --colorStar: rgb(253, 131, 9);
  --colorMint: #00c3bd;

  --colorBackgroundGray: #717171;
  --colorBackgroundBeige: #f5f5f5;

  --1: 1em;
  --5: 0.5rem;
  --10: 1rem;
  --20: 2rem;
  --30: 3rem;
  --50: 5rem;
  --80: 8rem;
  --100: 10rem;
}
/* font */
@font-face {
  font-family: "Vitro";
  src: url("/assets/css/fonts/Vitro_100.otf") format("truetype"); /* Replace 'path/to' with the actual path to your font file */
  font-weight: 100;
}
@font-face {
  font-family: "Vitro";
  src: url("/assets/css/fonts/vitro.ttf") format("truetype"); /* Replace 'path/to' with the actual path to your font file */
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"), url();
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(/assets/css/fonts/NotoSans-Light.eot);
  src: url(/assets/css/fonts/NotoSans-Light.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Light.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(/assets/css/fonts/NotoSans-Regular.eot);
  src: url(/assets/css/fonts/NotoSans-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Regular.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(/assets/css/fonts/NotoSans-Medium.eot);
  src: url(/assets/css/fonts/NotoSans-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Medium.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(/assets/css/fonts/NotoSans-Bold.eot);
  src: url(/assets/css/fonts/NotoSans-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Bold.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Bold.woff) format("woff");
}
@keyframes rightArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}
@keyframes leftArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
.background {
  background-color: #f7f7f7;
}
/* 탑 버튼 */

.top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 100;
  width: 54px;
  height: 54px;
}

#js-scroll {
  border-radius: 50%;
  text-align: center;
  display: none;
  width: 54px;
  height: 54px;
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 31px;
  padding-top: 11px;
}

.topBtn {
  font-size: 20px;
  padding-top: 5px;
  line-height: 1;
  height: 20%;
  color: var(--colorDarkBlack);
  width: 100%;
}

#js-scroll p {
  color: var(--colorDarkBlack);
  font-size: 16px;
  font-weight: bold;
}

#js-scroll p font {
  color: var(--colorDarkBlack);
}

.defaultBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  background: #fff;
}
/* header */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: height 0.3s, background 0.3s, border 0.3s;
  transition: height 0.3s, background 0.3s, border 0.3s;
  z-index: 500;
}
.header_container_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  height: 0; /* 초기 높이 설정 */
  transition: height 0.3s;
}
body.open_menu .header_container_bg {
  opacity: 1;
  background: #fff;
  visibility: visible;
  transition: height 0.3s;
}

.Logo {
  left: 60px;
  position: absolute;
  top: 50px;
  z-index: 2;
}
.header_inner {
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.gnb_inner {
  display: block;
  width: 100%;
  position: relative;
  line-height: 1;
  text-align: center;
  z-index: 1;
  height: 100px;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb_List {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.gnb_List > .gnb_Item {
  float: left;
}
.gnb_List > .gnb_Item > a {
  padding: 11px 37px 4px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.08em;
}
.open_menu .gnb_List > .gnb_Item > a {
  color: black;
}
.gnb_List > .gnb_Item > a:hover {
  color: #ad7b61;
}
.gnb_List > .gnb_Item > a:hover span:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.gnb_List > .gnb_Item > a > span {
  position: relative;
}
.gnb_List > .gnb_Item > a > span:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background-color: #ad7b61;
  -webkit-transition: transform 0.3s, opacity 0.15s;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.15s;
  transition: transform 0.3s, opacity 0.15s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-10rem);
  -ms-transform: translateY(-10rem);
  transform: translateY(-10rem);
  opacity: 0;
}
.sub_menu {
  width: auto;
  min-width: 100%;
  position: absolute;
  left: 0;
  margin-left: 37px;
  top: 100%;
  text-align: left;
  white-space: nowrap;
  padding-top: 47px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}

.sub_menu > li > ul > a {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: black;
  padding: 6px 0;
}

.sub_menu .menu_Item {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #888;
  padding: 6px 0;
}

.sub_menu > li {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  margin-right: 80px;
}
.header .aside {
  display: flex;
  position: absolute;
  top: 0;
  right: 3%;
  z-index: 1;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
.header .util {
  display: flex;
  padding-top: 42px;
}
.header .util a {
  font-size: 14px;
  letter-spacing: -0.56px;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 7px;
  display: block;
  line-height: 25px;
  font-weight: 400;
}
.header .util a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
.header .btn_search {
  width: 35px;
  height: 35px;
  margin: 42px 0 0 20px;
  border: 0;
  font-size: 22px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  /* display: none; */
}
.modal * {
  line-height: 1.5;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  height: 100vh;
}
.modal-SearchBox {
  position: relative;
  width: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal-content {
  width: 100%;
  max-width: 1250px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 20px);
  overflow: hidden;
}
.modal-header {
  padding: 0 15px 0 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  min-height: 90px;
}
.modalSearch {
  padding-top: 65px;
  position: relative;
  width: 100%;
}
.search-tit {
  font-family: "Vitro";
  font-size: 40px;

  text-align: center;
  margin: 0 auto;
}
.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.inp-search {
  position: relative;
  width: 450px;
  display: flex;
}
.inp-base {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 12px 20px;
  min-height: 50px;
  height: 56px;
  background: #f7f7f7;
  border: 0;
  font-size: 18px;
  padding-right: 50px;
  flex: 1;
}
.inp-base::placeholder {
  color: #cccccc;
}
.commonSearch {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  /* padding: 15px; */
  height: 100%;
  cursor: pointer;
  border: 0;
  width: 50px;
  background: transparent;
}
.tab-btns-wrap {
  padding-top: 25px;
}
.tab-btns-wrap ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
.tab-btns-wrap .tab-btn {
  flex-shrink: 0;
  position: relative;
  padding: 10px 0 15px;
  border: none;
  outline: none;
  transition: 200ms linear;
  cursor: pointer;
}
.tab-btns-wrap .tab-btn button {
  flex-shrink: 0;
  position: relative;
  padding: 10px 0 15px;
  border: none;
  outline: none;
  color: #cccccc;
  font-size: 36.5px;
  font-weight: 700;
  letter-spacing: -2.19px;
  transition: 200ms linear;
  cursor: pointer;
  background: transparent;
}
.tab-btns-wrap .active button {
  color: #1c1c1c;
  transition: color 0.8s ease-out;
}
.tab-btns-wrap .active button::after {
  content: "";
  width: 9px;
  height: 9px;
  background: #e53e30;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: calc(50% - 4px);
}

.btn-md-close {
  flex: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: auto;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
}
.tab-ContentTit {
  padding: 108px 0 135px;
}
.tab-ContentTit > div {
  display: block;
  font-size: 34px;
  color: #111;
  letter-spacing: -1.7px;
  line-height: 75px;
  display: flex;
  gap: 7px;
  justify-content: center;
}
.tab-select {
  font-family: "Vitro";
  font-size: 34px;
  border: solid 2px transparent;
  border-bottom: solid 2px #111;
  padding: 12px 5px;
  width: auto;
  height: auto;
  position: relative;
}
.tab-select > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.current {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}
.list {
  top: 55px;
  margin-top: 0;
  border: 0;
  border-radius: 4px;
  box-shadow: 3px 7.4px 60.8px 18.2px rgba(189, 189, 189, 0.43);
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 206px;
  overflow: auto;
  text-align: center;
}
.list li {
  padding: 0;
  cursor: pointer;
  height: 41px;
  font-size: 18px;
  line-height: 41px;
  letter-spacing: -0.072em;
  height: 30px;
  font-size: 15px;
  font-weight: 300;
  padding: 0 10px 0 18px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list li:hover {
  background-color: #f7f7f7;
}
.tab-Desc {
  display: flex;
  align-items: center;
  gap: 7px;
}
.tab_ContentBtn {
  margin: 40px auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 60px;
  gap: 10px;
}
.ContentBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  background: #fff;
  flex: unset;
  width: 270px;
  font-size: 16px;
  border: solid 1px #ccc;
  min-height: 55px;
}
.ContentBtn:hover {
  border-color: #666;
}
.ContentBtnBlack {
  background: #1c1c1c !important;
  border: 0 !important;
  color: #fff !important;
}
.ContentBtnBlack:hover {
  background: #2c2c2c !important;
}
.bold {
  font-weight: bold !important;
}
/* 스크롤 이벤트header  */
.ScrollHeader {
  background: var(--colorWhite);
  box-shadow: 3px 7px 20px 10px rgba(189, 189, 189, 0.2);
}
.ScrollHeader .gnb_Item a {
  color: var(--colorDarkBlack) !important;
}
.ScrollHeader .util a {
  color: rgba(0, 0, 0, 0.5) !important;
}
.ScrollHeader .util a:hover {
  color: rgba(0, 0, 0, 1) !important;
}
.ScrollHeader.header .btn_search {
  color: var(--colorDarkBlack);
}
.modal-find {
  width: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}
.ms-find_body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 60px;
  gap: 10px;
}
.btn-type-1 {
  flex: unset;
  width: 270px;
}
.btn-type-2 {
  border: solid 1px #ccc;
}
.ms-find_header > * {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #1c1c1c;
  color: #666666;
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: -0.024em;
  text-align: center;
  background: transparent;
}
.ms-find_header > *.active {
  border: 1px solid #1c1c1c;
  border-bottom: none;
  color: #1c1c1c;
  font-weight: 700;
  transition: color 0.8s ease-out;
}

.ms-find_header {
  display: flex;
}
.ms_find_hash > ul {
  display: none;
  align-items: flex-start;
  justify-content: flex-start; /* Change to flex-start to align items from the start */
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 5px;
  white-space: nowrap; /* Prevent list items from wrapping to a new line */
}
.ms_find_hash > ul > li {
  padding: 0 8px;
}
.ms_find_hash > ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.ms_find_hash > ul > li > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 0;
  font-size: 18px;
  letter-spacing: -0.072em;
  white-space: nowrap;
  cursor: pointer;
}

.ms_find_hash ul > li.show > span {
  color: #e53e30;
  font-weight: 700;
}

.ms_find_hash ul > li.show > span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #e53e30;
  transition: background-color 0.25s ease-in-out;
}
.ms_find_hash {
  height: 279px;
  position: relative;
}
.list-arrow {
  height: 175px !important;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  min-height: unset;
  overflow-y: auto;
}

.list-arrow ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 130px;
}

.list-arrow ul li {
  padding: 8px 0;
  width: calc(100% / 3);
}
.list-arrow ul li button {
  position: relative;
  display: block;
  width: 100%;
  max-width: 205px;
  font-size: 18px;
  letter-spacing: -0.054em;
  font-weight: 500;
  overflow: hidden;
  padding-right: 15px;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
}

.list-arrow ul li button span {
  width: 100%;
  text-align: left;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.active_menu span {
  color: #e53e30;
  font-weight: 700;
  border-bottom: #e53e30 2px solid;
}
/* 메인 스와이퍼 첫번쨰 */
.mySwiper {
  height: 100% !important;
}
.main_sw1 {
  height: 100vh;
  position: relative;
  width: 100%;
}
.slick-slider {
  height: 100%;
}
.slick-slider img {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.swiper-slide > a {
  width: 100%;
  height: 100%;
}
.main_sw1 .slogan {
  position: absolute;
  left: 130px;
  bottom: 62px;
}
.main_slick-list {
  height: 100% !important;
}
.main_slick-list .lg-txt {
  word-spacing: -6px;
  display: block;
  opacity: 0;
  width: 590px;
  font-family: "Vitro";
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 2px;
  white-space: nowrap;
  transform: translateX(-100%);
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  transition: transform 0.75s ease-in-out, clip-path 1s ease-in-out;
  white-space: nowrap;
  padding-bottom: 7px;
}
.main_slick-list .lg-txt2 {
  transition: transform 1s ease-in-out, clip-path 1.5s ease-in-out;
}
.main_slick-list .sm-txt {
  display: block;
  font-family: "Noto Sans KR";
  font-size: 20px;
  color: #fff;
  line-height: 25px;
  font-weight: 100;
  padding-left: 5px;
  padding-top: 10px;
  letter-spacing: -0.06em;
  opacity: 0;
  transition: opacity 0.75s 0.75s ease-out;
}
.main_sw1 .swiper-button-next:after,
.main_sw1 .swiper-button-prev:after {
  font-size: 0 !important;
}
.main_slick-btn {
  display: flex;
  flex-direction: column;
}
.main_slick-btn i {
  font-size: 31px;
  color: var(--colorWhite);
}
.main_slick-btn span {
  font-family: "Vitro";
  position: absolute;
  top: 50%;
  letter-spacing: 2px;
  z-index: 10;
  padding-bottom: 62px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background: transparent;
  transform: translateY(-50%);
}
.main_slick-next {
  right: 50px !important;
}
.main_slick-next:hover i {
  animation: leftArrow 1s infinite alternate ease-in-out;
}
.main_slick-prev {
  left: 50px !important;
}

.main_slick-prev:hover i {
  animation: rightArrow 1s infinite alternate ease-in-out;
}
.swiper-slide-active .sm-txt {
  opacity: 1;
}
.swiper-slide-active .lg-txt {
  transform: translateX(0);
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.main-sc-aside {
  position: absolute;
  left: 0px;
  right: 130px;
  bottom: 48px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  line-height: 34px;
  gap: 40px;
}

.main-sc-aside button {
  flex: 1;
  position: relative;
  min-width: 260px;
  max-width: 344px;
  font-family: "Noto Sans KR";
  font-size: 25px;
  border: 0;
  border-bottom-color: rgba(255, 255, 255, 1);
  transition-duration: 0.6s;
  color: #fff;
  letter-spacing: -1.88px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  transition: border-color 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding: 0 9px 10px 9px;
  align-items: center;
  background: transparent;
}
/* 메인 스와이퍼 밑 */
.main-sc {
  text-align: center;
  padding-top: 132px;
  padding-bottom: 150px;
  line-height: 70px;
}
.main-sc-tit {
  padding: 0;
}

.main-sc2-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px 0 90px;
}
.main-sc2-btn button {
  display: inline-flex;
  width: 200px;
  gap: 10px;
  border: solid 1px #ccc;
  border-radius: 50px;
}
.btn_reload :hover {
  border-color: #666;
}
.btn_myview {
  background: #1c1c1c !important;
  border: 0 !important;
  color: #fff !important;
}
.btn_myview:hover {
  background-color: #2c2c2c !important;
}
.swiperItem a img {
  object-fit: cover;
  width: 100%;
  filter: brightness(90%);
  height: 310px;
}
.swiperItem:hover {
  box-shadow: 3px 7px 20px 10px rgba(189, 189, 189, 0.2);
  border-color: transparent;
}
.swiperItem {
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.main-sc2 .swiper {
  position: initial;
  overflow: hidden !important;
}
.main-sc2 {
  position: relative;
  padding: 0 160px;
}
.main-sc2-swiper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  overflow: hidden !important;
}

.main-sc2 .swiper-button-next:after,
.main-sc2 .swiper-button-prev:after {
  display: none;
}
.main-sc2 .swiper-button-next {
  right: 50px;
}
.main-sc2 .swiper-button-prev {
  left: 50px;
}
.main-sc2 .swiper-button-next,
.main-sc2 .swiper-button-prev {
  font-size: 40px;
  border: 1px solid #ccc;
  width: 80px;
  border-radius: 100%;
  border: 1px solid #1c1c1c;
  height: 80px;
  color: black;
}
.main-sc2 .swiper-button-next:hover i {
  animation: leftArrow 1s infinite alternate ease-in-out;
}

.main-sc2 .swiper-button-prev:hover i {
  animation: rightArrow 1s infinite alternate ease-in-out;
}

.main-sc2 .item-info {
  padding: 30px 40px 45px;
}

.main-sc2 .item-info .tit {
  /* margin-top: 38px; */
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  max-height: 2.6em;
  text-align: left;
  word-break: break-all;
}

.main-sc2 .item-info .cont {
  margin-top: 15px;
  color: #666;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 26px;
  max-height: 52px;
}

.main-sc2 .item-info .btn-detail {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: -0.96px;
  font-weight: 500;
  text-align: left;
}

/* slick */
.main-sl-tit h2 {
  font-family: "Vitro";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -3px;
  color: #000;
  text-align: center;
  padding: 150px 0 90px;
  line-height: 1em;
}
.main-sl .slider {
  width: 100%;
  margin: 0 auto;
}
.main-sl .slider img {
  width: 100%;
  height: auto;
}
.main-sl .slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.main-sl .slider-controls button {
  margin: 0 5px;
}
.main-sl .slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  bottom: 110px;
  margin-left: 380px;
}
.main-sl .slider-pagination button {
  border: none;
  background: transparent;
  margin: 0 3px;
  cursor: pointer;
}
.main-sl .slider-pagination button.current {
  font-weight: bold;
}
.main-sl .slider-progress {
  height: 4px;
  background-color: #ddd;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  bottom: 120px;
  width: 640px;
  display: flex;
  align-items: center;
}
.main-sl .slider-progress .progress-bar {
  height: 100%;
  background-color: #000;
  width: 0;
  transition: width 1s linear;
}
.main-sl .slick-slide {
  position: relative;
  width: 350px !important;
  height: 480px !important;
  margin: 0 10px;
}
.main-sl .slick-slide > a {
  width: 100%;
  height: 100%;
}
.main-sl .item-info {
  position: relative;
  padding: 50px 30px;
  height: 100%;
  z-index: 10;
}
.main-sl {
  position: relative;
}
.main-sl .slick-slide img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100% !important;
  filter: brightness(75%);
  bottom: 0;
  border-radius: 10px;
  object-fit: cover;
}
.main-sl .aside {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-family: "Vitro";
  color: #fff;
  font-size: 42px;
  letter-spacing: -1.68px;
  line-height: 45px;
  font-weight: bold;
}
.main-sl .tit {
  font-size: 22px;
  letter-spacing: -0.88px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  max-height: 2.8em;
}
.main-sl .cont > p {
  font-size: 15px;
  letter-spacing: -0.45px;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  max-height: 2.8em;
}
.main-sl .item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: #e63c2c;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  z-index: 9;
}
.main-sl .slick-prev,
.main-sl .slick-next {
  display: none !important;
}

.main-sl .btn-prev,
.main-sl .btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 100%;
  border: 1px solid #1c1c1c;
  background-repeat: no-repeat;
}
.main-sl .btn-prev {
  left: 40px;
  cursor: pointer;
}
.main-sl .btn-next {
  right: 40px;
  cursor: pointer;
}
.main-sl .btn-prev:hover i {
  animation: rightArrow 1s infinite alternate ease-in-out;
}
.main-sl .btn-next:hover i {
  animation: leftArrow 1s infinite alternate ease-in-out;
}
.main-sl .slick-list {
  overflow: initial;
}
.main-sl .main-sl-cont {
  padding-bottom: 120px;
  height: 700px;
}
.main-sl .active {
  display: none !important;
}

.main-sl .btn-stop,
.main-sl .btn-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  bottom: 113px;
  margin-left: 338px !important;
  border: 0;
  background: transparent;
  font-size: 22px;
}

/* 고객과 여행이지의 소중한 순간 페이지 작업 */
.wrap-stl-01 {
  position: relative;
}
.wrap-stl-01 .right-area {
  position: absolute;
  right: 23px;
  bottom: 19px;
}
.wrap-stl-01 a {
  font-size: 19px;
  line-height: 34px;
  letter-spacing: -0.76px;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-sc4 {
  padding: 0 75px 150px;
}
.review .review_img img {
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.reviewImgBox {
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}
.reviewImgBox::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.reviewImgBox::before {
  /* padding-top: 56.25%; */
}
.review .review_item {
  flex: none;
  width: calc(100% / 3) !important;
  padding: 0 22px 0 23px;
}
.review .item-info {
  margin-top: 20px;
  padding-left: 80px;
  position: relative;
  min-height: 65px;
}

.review .user-char {
  width: 60px;
  height: 60px;
  top: 5px;
  position: absolute;
  left: 0;
}
.review .item-info .cont {
  font-size: 16px;
  line-height: 22px;
  padding-right: 15px;
}
.review .item-info .user-id {
  font-size: 14px;
  margin-top: 8px;
}
.review .review_list {
  display: flex;
}
.review .review_img img {
  height: 100%;
}
/* youtube 세상 모든 여행이지 */
.youtube .item-info {
  margin-top: 18px;
  padding-left: 0;
  min-height: 65px;
}

.youtube .item-info .tit {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -1.1px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1c1c1c;
}
.youtubeBox {
  border-top: solid 1px #1c1c1c;
  border-bottom: solid 1px #1c1c1c;
}

/* 메인 이미지 변경  */
.main-sc5 {
  margin-bottom: 130px;
  margin-top: 100px;
}
.main-sc5 .magazine-banner {
  position: relative;
  display: flex;
  height: 800px;
  z-index: 1;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.magazine-tit a {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 0 10% 70px 75px;
}
.magazine-tit a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.magazine-tit {
  flex: none;
  width: 25%;
}
.magazine-tit .tit {
  position: relative;
  font-family: "Vitro";
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  z-index: 3;
  transition: font-size 0.35s ease-in-out;
  line-height: 80px;
}
.magazine-tit .txt {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -1.15px;
  color: #fff;
  z-index: 3;
  transition: font-size 0.35s ease-in-out;
}
.magazine-tit .btn {
  position: relative;
  margin-top: 50px;
  font-size: 19px;
  letter-spacing: -0.76px;
  color: #fff;
  z-index: 3;
  display: flex;
  gap: 10px;
}
.magazine-banner .magazine-group {
  flex: none;
  width: 75%;
  display: flex;
}
.magazine-tit .btn i {
  animation: leftArrow 1s infinite alternate ease-in-out;
}
.magazine-banner .magazine-Item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  z-index: 2;
}
.magazine-banner .over a {
  padding-bottom: 100px !important;
}
.magazine-banner .over a::before {
  content: initial;
}
.magazine-banner .magazine-Item .tit {
  position: relative;
  font-family: "Vitro";
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  z-index: 3;
}
.magazine-banner .magazine-Item .txt {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.9px;
  color: #fff;
  z-index: 3;
}
.magazine-banner .magazine-List {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.magazine-banner .magazine-Item {
  width: calc(100% / 3) !important;
  margin-right: 0 !important;
  height: 100%;
  position: relative;
}
.magazine-banner .magazine-Item a {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 0 0 70px 30px;
  transition: padding 0.3s;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: none !important;
}
/* 알려드립니다 공지사항 */

.main-sc9 {
  display: flex;
  justify-content: space-between;
  padding-left: 220px;
  padding-bottom: 110px;
  margin-top: 130px;
}
.main-sc9 .main-sc9-notice {
  flex: 1;
}
.main-sc9 .main-sc9-help {
  flex: 1.25;
  margin-left: 170px;
}
.main-sc9-tit {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -3.75px;
}
.main-notice-list {
  margin-top: 25px;
}
.main-notice-list .notice-list-item {
  padding: 21px 0;
  border-bottom: solid 1px #e5e5e5;
}
.main-notice-list .notice-list-item a {
  width: 100%;
}
.main-notice-list .notice-list-item dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-notice-list .notice-list-item dt {
  font-size: 17px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.6em;
  max-height: 1.6em;
}
.main-notice-list .notice-list-item dd {
  font-size: 17px;
  color: #666;
  min-width: 100px;
}
.main-sc9 .help-cont {
  display: flex;
  margin-top: 40px;
}
.main-sc9 .help-item1 {
  width: 340px;
}
.main-sc9 .help-cont .tit {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-sc9 .help-cont .tit img {
  width: 30px;
  height: 30px;
}

.main-sc9 .help-item2 {
  display: flex;
  align-items: flex-end;
}
.main-sc9 .help-item2 .lnk a + a {
  margin-top: 15px;
}
.main-sc9 .help-item2 .tit::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.main-sc9 .help-cont .phone {
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Vitro";
  margin-top: 15px;
}
.main-sc9 .help-cont .txt {
  font-size: 16px;
  line-height: 28px;
  color: #666;
  font-weight: 500;
  margin-top: 20px;
}
.main-sc9 .help-cont .lnk {
  margin-top: 45px;
}
.main-sc9 .help-cont .lnk a {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.main-sc9 .help-cont .lnk a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 23px;
  height: 20px;
}
.main-sc9 .help-cont .lnk a:hover:after {
  animation: leftArrow 1s infinite alternate ease-in-out;
}

/* footer SNS */
.footer-sns {
  margin-top: -74px;
  font-size: 0;
}
.footer-sns a.facebook {
  background-image: url("../images/icon_sns_facebook.svg");
}
.footer-sns a.instagram {
  background-image: url("../images/icon_sns_instagram.svg");
  background-position-y: 45%;
}
.footer-sns a.youtube {
  background-image: url("../images/icon_sns_youtube.svg");
}
.footer-sns a.kakao {
  background-image: url("../images/icon_sns_kakao.svg");
}
.footer-sns a.naver-blog {
  background-image: url("../images/icon_sns_blog.svg");
}
.footer-sns a.naver-post {
  background-image: url("../images/icon_sns_naverpost.svg");
  background-position-y: 70%;
}
.footer-sns a {
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 0;
  color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #1c1c1c;
  border-radius: 17px;
}
.footer-sns a + a {
  margin-left: 15px;
}
.footer {
  width: auto;
  margin-left: 220px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  margin-top: 74px;
  border-top: 1px solid #1c1c1c;
  position: relative;
  display: flex;
}

.footer-menu {
  margin-top: 80px;
  font-size: 0;
}
.footer-menu a {
  font-size: 15px;
  color: #1c1c1c;
}
.footer-menu a.active {
  color: #1c1c1c;
  font-weight: 500;
}
.footer-menu a + a {
  margin-left: 15px;
}

.footer-cont {
  display: flex;
  margin-top: 75px;
  padding-bottom: 30px;
}
.footer-cont dl + dl {
  margin-left: 200px;
}
.footer-cont dt {
  font-family: "Vitro", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  white-space: nowrap;
}
.footer-cont dd {
  font-size: 12px;
  line-height: 20px;
  color: #666;
}
.footer-cont dd .copyright {
  display: block;
}
.footer-cont > .copyright {
  display: none;
}
.footer-cont dd ul li {
  font-size: 12px;
  line-height: 20px;
  color: #666;
}
.footer-cont dd ul li a {
  font-size: 12px;
  line-height: 20px;
  color: #666;
}
/* 테마가 있는 여행이지 작업 */
.main-tm {
  padding-bottom: 150px;
}
.tab-main {
  padding-bottom: 50px;
  text-align: center;
  line-height: 60px;
}

.tab-main > a {
  display: inline-block;
  font-size: 45px;
  letter-spacing: -2.7px;
  font-weight: 700;
  color: #e5e5e5;
  margin-right: 20px;
  transition: color 0.25s ease-in-out;
}
.tab-main > a.selected {
  color: #171717;
}
.tab-main > a:hover {
  color: #1c1c1c;
}
.main-tm-wrap {
  position: relative;
  padding-left: 440px;
}
.main-tm-lnb {
  width: 420px;
  border-top: solid 1px #ccc;
  position: absolute;
  left: 0;
  top: 0;
  height: 580px;
}
.main-tm-lnb li {
  position: relative;
}
.main-tm-lnb a:hover:after {
  transform: translateX(0);
}
.main-tm-lnb a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1c1c;
  transform: translateX(-100%);
  transition: transform 0.35s ease-in-out;
}
.main-tm-lnb a {
  position: relative;
  display: block;
  height: 96px;
  line-height: 95px;
  border-bottom: solid 1px #ccc;
  font-size: 22px;
  padding-left: 40px;
  font-weight: 500;
  overflow: hidden;
}
.main-tm-lnb .active a {
  font-weight: bold;
  border-color: #1c1c1c;
}
.main-tm-lnb a:before {
  content: attr(data-label);
  position: absolute;
  z-index: 1;
  color: #fff;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transition: clip-path 0.35s ease-in-out;
}
.main-tm-lnb a:hover:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.tmSwiper {
  min-height: 577px !important;
  width: 100% !important;
  overflow: hidden;
}
.theme-list {
  position: relative;
}
.tmSwiper .swiper-button-prev::after,
.tmSwiper .swiper-button-next::after {
  content: initial;
}
.tmSwiper .swiper-button-prev,
.tmSwiper .swiper-button-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 100%;
  border: 1px solid #1c1c1c;
  background-repeat: no-repeat;
  background: white;
  color: black;
}
.theme-item {
  position: relative;
  height: 577px !important;
  margin: 0 10px;
}

.theme-item img {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  object-fit: cover;
  width: 100% !important;
  filter: brightness(65%);
  height: 100% !important;
}
.theme-item .item-info {
  position: absolute;
  top: 61%;
  left: 30px;
  right: 30px;
  height: 34%;
  z-index: 10;
}
.theme-item .item-info .tit {
  font-size: 20px;
  letter-spacing: 0.12px;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 42px;
  line-height: 25px;
}
.theme-item .item-info .cont {
  font-size: 15px;
  letter-spacing: -0.45px;
  color: #fff;
  font-weight: 200;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.theme-item .item-info .price {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 25px;
  display: flex;
  align-items: end;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.theme-item .item-info .price strong {
  font-family: "Vitro";
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}
/* 일정이 어떻게 되세요 페이지 */
.date-modal form {
  height: 100%;
}
.date-modal-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  height: 100vh;
}
.date-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.date-modal-main {
  position: relative;
  width: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
.date-modal-Box {
  max-width: 1260px;
  width: 100%;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 20px);
  overflow: hidden;
  padding: 0 50px 50px;
}
.date-modal-header {
  padding: 0 15px 0 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 65px;
}
.date-modal-header button {
  border: 0;
  background: transparent;
  font-size: 50px;
  position: absolute;
  top: 20px;
  right: -20px;
}
.modal-date-body {
  position: relative;
  flex: 1 1 auto;
  width: calc(100% - 50px);
  height: calc(100% - 80px);
  margin: 40px 0;
  /* padding: 0 10px 0 50px; */
  padding: 0 25px;
  color: #1c1c1c;
  overflow-y: auto;
  word-break: keep-all;
}
.date-modal-title h2 {
  font-family: "Vitro";
  padding-bottom: 5px;
  line-height: 50px;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  text-align: center;
}
.date-modal-subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  padding-bottom: 3rem;
  text-align: center;
  margin-top: 5px;
  justify-content: center;
  font-family: "Vitro";
}
.date-modal-subtitle span {
  color: #999 !important;
}
.daterangepicker {
  display: flex !important;
  position: initial;
  width: 100%;
  height: 100%;
}
.daterangepicker .drp-calendar {
  display: block !important;
  width: calc(98% / 2);
  max-width: 800px !important;
}
.drp-buttons {
  display: none;
}
.buttonStyle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  background: #fff;
  font-size: 16px;
  border: solid 1px #ccc;
  min-height: 55px;
  gap: 5px;
  flex: none;
  width: auto;
  min-width: 270px;
}
.date-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px auto 0;
}
.datebtn_balck {
  background: #1c1c1c !important;
  border-left: solid 1px #333;
  color: #fff !important;
}
.daterangepicker {
  top: 0px !important;
  left: 0px !important;
}
.calendar-table .prev {
  position: absolute;
  left: -31px;
  top: 50%;
  transform: rotate(135deg);
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.calendar-table .next {
  position: absolute;
  right: -37px;
  top: 50%;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* 길이가 14이상 일 시 나오는 팝업 */

.modal-lengthBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  outline: 0;
}

.modal-length-content {
  position: relative;
  width: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-lengthCenter {
  width: 100%;
  max-width: 540px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 20px);
  overflow: hidden;
}

.modal-length-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 15px 0 65px;
  min-height: 70px;
}

.modal-length-body {
  width: 100%;
  padding: 15px 30px 60px;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.modal-footer {
  flex-shrink: 0;
  display: flex;
}

#btnModalConfirm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  background: #1c1c1c !important;
  border: 0 !important;
  color: #fff !important;
  font-size: 16px;
  min-height: 55px;
}

@media (max-width: 1360px) {
  .main_sw1 .slogan {
    position: absolute;
    left: 50%;
    bottom: 70%;
    max-width: 60%;
    transform: translate(-50%, 50%);
    overflow: hidden;
    text-align: center;
  }
  .main-sc-aside {
    left: 50px;
    right: 50px;
    justify-content: center;
  }
  .main-sc2 {
    position: relative;
    padding: 0 10px;
  }
  .main-sc2 .swiper-button-next,
  .main-sc2 .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 1024px) {
}
